<app-header
    [navbarBrandRouterLink]="['/dashboard']"
    [fixed]="true"
    [navbarBrandFull]="{src: 'assets/img/brand/logo.svg', width: 89, height: 25, alt: 'CoreUI Logo'}"
    [navbarBrandMinimized]="{src: 'assets/img/brand/sygnet.svg', width: 30, height: 30, alt: 'CoreUI Logo'}"
    [sidebarToggler]="false"
    [asideMenuToggler]="false"
  >
  <ul class="nav navbar-nav d-md-down-none">
    <ng-container *ngFor="let item of navItems">
        <li class="nav-item px-3">
          <a [class]="curRoute&&curRoute.indexOf(item.url)==0?'nav-link activeRoute':'nav-link'" [routerLink]="item.url"><i [class]="item.icon"></i>{{item.name|translate}}</a>
        </li>
    </ng-container>
  </ul>
  <ul class="nav navbar-nav ml-auto d-md-down-none">
    <li class="nav-item dropdown" dropdown placement="bottom right">
      <a class="nav-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" dropdownToggle (click)="false">
        <img class="img-avatar" [src]="avatar" (error)="avatar=defaultImage"/>{{nickname}}
      </a>
      <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
        <div class="divider"></div>
        <!-- <a class="dropdown-item"><i class="fa fa-shield"></i> Lock account</a> -->
        <a class="dropdown-item" (click)="logOut()"><i class="fa fa-lock"></i> {{'Log out'|translate}}</a>
      </div>
    </li>
    <li class="nav-item dropdown" dropdown placement="bottom right">
      <a class="nav-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" dropdownToggle (click)="false">
        <img class="img-avatar img-language" [src]="LanguageImage[currentLanguage]">
      </a>
      <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
        <a class="dropdown-item" (click)="changeLang('en')">{{'English'|translate}}</a>
        <a class="dropdown-item" (click)="changeLang('ch')">{{'Chinese'|translate}}</a>
      </div>
    </li>
  </ul>
</app-header>
<div class="app-body">
  <app-sidebar [ngClass]="'d-lg-none'" #appSidebar [fixed]="true" [display]="false" [minimized]="sidebarMinimized" (minimizedChange)="toggleMinimize($event)">
    <app-sidebar-nav [navItems]="navItems" [perfectScrollbar] [disabled]="appSidebar.minimized"></app-sidebar-nav>
    <app-sidebar-minimizer></app-sidebar-minimizer>
  </app-sidebar>
  <!-- Main content -->
  <main class="main">
      <router-outlet></router-outlet>
  </main>
  <app-aside [fixed]="true" [display]="false" [ngClass]="'d-lg-none'">
    <div class="list-group list-group-accent">
      <div class="list-group-item list-group-item-accent-secondary bg-light text-center font-weight-bold text-muted text-uppercase small">
        {{nickname}}
      </div>
      <div class="list-group-item list-group-item-accent-info">
        <a class="dropdown-item"><i class="fa fa-shield"></i> Lock account</a>
      </div>
      <div class="list-group-item list-group-item-accent-info">
        <a class="dropdown-item" (click)="logOut()"><i class="fa fa-lock"></i> Logout</a>
      </div>
    </div>
    <div class="list-group list-group-accent">
      <div class="list-group-item list-group-item-accent-secondary bg-light text-center font-weight-bold text-muted text-uppercase small">
        {{languageName|translate}}
      </div>
      <div class="list-group-item list-group-item-accent-info">
        <a class="dropdown-item" (click)="changeLang('en')">{{'English'|translate}}</a>
      </div>
      <div class="list-group-item list-group-item-accent-info">
        <a class="dropdown-item" (click)="changeLang('ch')">{{'Chinese'|translate}}</a>
      </div>
    </div>
  </app-aside>
</div>
<!-- <app-footer>
  <span><a href="https://coreui.io">CoreUI</a> &copy; 2021 creativeLabs.</span>
  <span class="ml-auto">Powered by <a href="https://coreui.io/angular">CoreUI for Angular</a></span>
</app-footer> -->
