.mat-elevation-z8 {
  height: 51vh;
  max-width: 100%;
  overflow: auto;
}
table {
  width: 100%;
}

.mat-row .mat-cell {
  cursor: pointer;
  padding-right: 10px;
  margin-right:20px;
}
tr:hover {
  background: #efefef;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;

}



.mat-table-sticky-border-elem-right {
  border-left: 1px solid #e0e0e0;
}

.mat-table-sticky-border-elem-left {
  border-right: 1px solid #e0e0e0;
}
